
{% extends "base.html" %}

{%block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coin</th>
      <th scope="col">Protocol</th>
      <th scope="col">Borrow Rate</th>
      <th scope="col">Lend Rate</th>
      <th colspan="2" scope="col">Agreements</th>
      <thb scope="col">24h change</th>
    </tr>
  </thead>
  <tbody>
    <script type="text/javascript">
      var colors = [window.chartColors.red, window.chartColors.orange,
                    window.chartColors.yellow, window.chartColors.green,
                    window.chartColors.blue, window.chartColors.purple]

      var configs = []

    </script>
    
    {% for coin in coin_list %}
    <tr>
      <th rowspan="{{protocol_len[coin[0]] + 1}}" scope="row">{{loop.index}}</th>
      <td rowspan="{{protocol_len[coin[0]] + 1}}">{{coin[0]}}</td>

      {% if protocol == '*' %}
      <th></th>
      {% else %}
      <td>{{protocol}}</td>
      {% endif %}

      <th>
      </th>
      <th>
      </th>
      <td colspan="2" rowspan="{{protocol_len[coin[0]] + 1}}"><div style="width:100%; padding: 0"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
	      <canvas class="yields" style="position:relative; width:250vw'; height:'100%';" width="250vw" height="100%" class="chartjs-render-monitor"></canvas>
	    </div>
      </td>
      <td rowspan="{{protocol_len[coin[0]] + 1}}"></td>
    </tr>

    {% for protocol in protocols[coin[0]] %}
    <tr>
      <td>{{protocol}}</td>
      <td>{{coin[5].get(protocol,'')}}</td>
      <td>{{coin[6].get(protocol,'')}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">

  {% for coin in coin_list %}

  configs.push({
      coin_name: '{{coin[0]}}',
	  type: 'line',
	  data: {
		  labels: [{{coin[3]|safe}}],
		  datasets: [
              {% for k,v in coin[1].items(): %}
              {
                  label: '{{k}}',
                  fill: false,
                  data: {{v|safe}},
                  backgroundColor : colors[{{loop.index0}}],
                  borderColor : colors[{{loop.index0}}]
              },
              {% endfor %}
          ]
	  },
	  options: {
          responsive: true,
		  legend: { display: true}
	  }
  });
  {% endfor %}

  window.onload = function() {
      var yields = document.getElementsByClassName('yields')

      $(yields).each(function (y,v){
          var ctx = v.getContext('2d');
          window.myLine = new Chart(ctx, configs[y]);
          v.style.cursor = 'pointer';
          v.onclick = function(e) {
              console.log("Clicked " + configs[y].coin_name)
              window.open('/yield_curve/*/'+configs[y].coin_name, "_self")
          }
      })
  };
</script>

{% endblock %}
