
{% extends "base.html" %}

{%block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coin</th>
      <th scope="col">Protocol</th>
      <th scope="col">Lend Rate</th>
      <th scope="col">Borrow Rate</th>
      <th scope="col">Plot</th>
      <th scope="col">24h change</th>
      <th scope="col">24h spread</th>
    </tr>
  </thead>
  <tbody>
    <script type="text/javascript">
      var colors = [window.chartColors.red, window.chartColors.orange,
                    window.chartColors.yellow, window.chartColors.green,
                    window.chartColors.blue, window.chartColors.purple]

      var configs = []

    </script>
    
    {% for coin in coin_list %}
    {% if coin[0] != None %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{coin[0]}}</td>
      <td>*</td>
      <td>
        <table>
          {% for pr in coin[5] %}
          <tr>
            <td>{{pr[0]}}</td>
            <td>{{pr[1]}} %</td>
          </tr>
          {% endfor %}
        </table>
      </td>
      <td>
        <table>
          {% for pr in coin[6] %}
          <tr>
            <td>{{pr[0]}}</td>
            <td>{{pr[1]}} %</td>
          </tr>
          {% endfor %}
        </table>
      </td>
      <td><div style="width:100%;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
	      <canvas class="yields" style="position:relative; width:'100%'; height:'100%';" width="100%" height="100%" class="chartjs-render-monitor"></canvas>

          <script type="text/javascript">

            var config = {
                coin_name: '{{coin[0]}}',
		        type: 'line',
		        data: {
			        labels: [{{coin[3]|safe}}],
			        datasets: [
                        {% for k,v in coin[1].items(): %}
                        {
                            label: '{{k}}',
                            fill: false,
                            data: {{v|safe}},
                            backgroundColor : colors[{{loop.index0}}],
                            borderColor : colors[{{loop.index0}}]
                        },
                        {% endfor %}
                    ]
		        },
		        options: {
                    responsive: true,
			        legend: { display: false}
		        }
	        };
            
            configs.push(config);
          </script>
	    </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    
  </tbody>
</table>

<script type="text/javascript">

  window.onload = function() {
      var yields = document.getElementsByClassName('yields')

      $(yields).each(function (y,v){
          var ctx = v.getContext('2d');
          window.myLine = new Chart(ctx, configs[y]);
          v.style.cursor = 'pointer';
          v.onclick = function(e) {
              console.log("Clicked " + configs[y].coin_name)
              window.open('/yield_curve/*/'+configs[y].coin_name, "_self")
          }
      })
	  //
	  //
  };
</script>

{% endblock %}
